@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Playwrite+IS:wght@100..400&display=swap');

:root {
  --secondary-col: #000014;
  --primary-col: yellow;
  --primary-col-faded: #ffff0041;
}

* {
  margin: 0;
  padding: 0;
  font-family: poppins, sans-serif;
}

body {
  background-color: var(--secondary-col);
}

/* Common Start */
.big-desc {
  font-size: 28px;
  letter-spacing: 2px;
  text-align: justify;
}

.small-desc {
  font-size: 18px;
  letter-spacing: 2.5px;
  text-align: justify;
}

.color-white {
  color: white;
}

.color-black {
  color: black;
}

.color-primary {
  color: var(--primary-col);
}

.color-secondary {
  color: var(--secondary-col);
}

.color-primary-faded {
  color: var(--primary-col-faded);
}

.center-btn {
  padding: 70px 0;
  display: flex;
  justify-content: center;
  gap: 40px;
}

.btn1 {
  text-decoration: none;
  color: var(--primary-col);
  font-weight: bold;
  border: 2px solid var(--primary-col);
  background-color: var(--primary-col-faded);
  border-radius: 25px;
  padding: 12px 25px;
  transition: 0.2s ease;
  box-shadow: 0 0 20px #ffff00b3;
}

.btn1:hover {
  transform: scale(1.2);
  background-color: var(--primary-col);
  color: var(--secondary-col);
}

.btn1:active {
  transform: scale(0.9);
}

.btn2{
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--primary-col);
  font-weight: bold;
  box-shadow: 0 0 20px #ffff00b3;
  margin-left: 36px;
  padding: 12px 25px;
  border-radius: 25px;
  transition: 0.2s ease;
}

.btn2:hover {
  transform: scale(1.2);
  color: var(--secondary-col);
  background-color: var(--primary-col);
}

.btn2:active {
  transform: scale(0.9);
}

/* Common End */

header {
  background-image: url(images/hero.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 95px;
  padding: 0 50px;
  z-index: 999;
  position: relative;
  
}

.nav-bar a {
  text-decoration: none;
}

.logo {
  display: flex;
  align-items: center;
  font-size: x-large;
  font-weight: bolder;
  color: var(--primary-col);
}

.logo-txt {
  padding: 0 10px;
  
}

.navigations {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-links {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  
}

.nav-links .active {
  background-color: var(--primary-col-faded);
  color: var(--primary-col);
  border-radius: 25px;
  padding-top: 4px;
  padding-bottom: 4px;
  border: 1px solid var(--primary-col);
  box-shadow: 0 0 20px #ffff00b3;
  cursor: default;
}

.nav-link:not(.active):hover
{
  color: var(--primary-col);
  background-color: var(--primary-col-faded);
  border-radius: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.nav-link {
  text-decoration: none;
  padding: 0 15px;
  margin: 0 7px;
  color: white;
  transition: 0.2s ease;
}

.social-icons {
  padding: 5px 0 0 15px;
}

.social-icon {
  color: var(--primary-col);
  text-decoration: none;
  font-size: xx-large;
  padding: 0 7px;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 68px;
  color: white;
}

.my-img {
  max-width: 200px;
  border-radius: 50%;
  border: 2px solid var(--primary-col);
  box-shadow: 0 0 20px #ffff00b3;
}

.hero-intro {
  display: flex;
  align-items: center;
}

.hero-headings {
  padding-left: 20px;
}

.hero-heading1{
  font-size: 75px;
  line-height: 80px;
}
.hero-heading2{
  font-size: 33px;
}
.hero-heading2 .name-highlight {
  font-size: 53px;
  font-family: "Playwrite IS", cursive;

}

.hero-img {
  max-width: 780px;
z-index: 0;
position: absolute;
bottom: 5%;
right: 5%;

}


.hero-img-disable {
  max-width: 646px;
  opacity: 0;

}

.hero-subheading{
  font-size: 19px;
  margin-top: 30px;
  line-height: 1.6;
  color: #fffad7;
  letter-spacing: 2.5px;
}

.hero-btns {
  margin-top: 50px;
  display: flex;
  align-items: center;
}

.cvtxt {
  padding-left: 7px;
}

/* Main */
main {
  background-color: var(--secondary-col);
  padding-bottom: 40px;
}
/* About Me Section */

#aboutme {
  min-height: 900px ;
  margin: 0 1px;
  transform: translateY(-10%);
  background-image: url(images/about-bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 55px;
  z-index: 10;
  border: 2px solid var(--primary-col);
  box-shadow: 0 0 20px #ffff00b3;
}

.aboutme-content {
  display: flex;
  justify-content: space-between;
  align-items:center;
  color: white;
  z-index: 4;
  padding-left: 70px;
  padding-right: 70px;
  padding-bottom: 70px;

}

.aboutme-heading {
  padding: 50px 0;
  font-size: 39px;
  text-align: center;
  color: white;
}


.aboutme-img {
  max-width: 320px;
  border: 2px solid white;
  border-radius: 30px;
  box-shadow: 0 0 10px white;
}

.aboutme-right {
  padding-right: 130px ;
}

.aboutme-name {
  font-size: 35px;
}

.aboutme-name .name-highlight {
  font-size: 55px;
  font-family: "Playwrite IS", cursive;
  color: var(--primary-col);
}

/* Projects Section*/
#projects {
  padding: 0 90px;
}

.projects-content {
margin-top: 100px;
}

.projects-heading {
  font-size: 55px;
  text-align: center;
  color: white;
  padding-bottom: 20px;
}



.project {
  display: flex;
  justify-content: space-between;
  gap: 70px;
  margin: 35px 0;

}

.project-about {
  /* padding: 0 50px; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.project-img {
  height: 350px;
  border: 2px solid var(--primary-col);
  border-radius: 15px;
  box-shadow: 0 0 20px #ffff00b3;
  transition: 0.4s ease;
  
}

.project-img:hover {
  transform: scale(1.6);
  border: 2px solid red;
  box-shadow: 0 0 40px #ff0000b3;
}

.project:has(.project-img:hover)
{
  background-color: rgba(255, 255, 255, 0.454);
  transform: scale(0.88);
  border: 2px solid white;
  box-shadow: 0 0 10px white inset;
}

.project-heading {
  font-size: 28px;
  text-align: center;

}

.project-desc {
  font-size: 18px;
  line-height: 1.5;
  text-align: justify;

}

.project-link {
  text-align: center;
  text-decoration: none;
  color: var(--primary-col);
  font-weight: bold;
  border: 2px solid var(--primary-col);
  background-color: var(--primary-col-faded);
  border-radius: 25px;
  padding: 12px 0;
  transition: 0.2s ease;
  box-shadow: 0 0 20px #ffff00b3;
}

.project-link:hover{
  transform: scale(1.08);
  background-color: var(--primary-col);
  color: var(--secondary-col);
}

.project-link:active {
  transform: scale(0.9);
}

.project {
  background-color: #ffffff1a;
  padding: 30px;
  border-radius: 20px;
  border: 2px solid white;
  box-shadow: 0 0 10px white;
  transition: 0.4s ease;

}

.project:hover {
  border: 2px solid var(--primary-col);
  box-shadow: 0 0 20px #ffff00b3;
}

/* Skills Section */

.skill-category {
  margin: 70px 0;
}
.skills-heading {
  font-size: 55px;
  text-align: center;
  color: white;
  padding-bottom: 20px;
}

.skills-content {
  padding: 0 90px
}

.skill-type {
  font-size: 30px;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.all-skill {
  display: flex;
  flex-wrap: wrap;

}

.skill {
  
  font-size: x-large;
  padding : 35px 40px;
  margin: 10px 10px;
  border-radius: 20px;
}

.s-c {
  background-color: #11219a52;
  border: 2px solid #283492; 
  color: #2f3ca1;
  box-shadow: 0 0 10px #283492;
}
.s-cpp{
  background-color: #38009855;
  border: 2px solid #5b2892; 
  color: #622fa1;
  box-shadow: 0 0 10px #5b2892;
}
.s-java{
  background-color: #ed272e27;
  border: 1px solid #ed272c; 
  color: #ed272c;
  box-shadow: 0 0 10px #ed272c;
}
.s-python{
  background-color: #0044835b;
  border: 1px solid #749dc4; 
  color: #749dc4;
  box-shadow: 0 0 10px #749dc4;
}
.s-r{
  background-color: #aeb0b42b;
  border: 1px solid #aeb0b4; 
  color: #aeb0b4;
  box-shadow: 0 0 10px #aeb0b4;
}
.s-php{
  background-color: #7b7fb520;
  border: 1px solid #7b7fb5; 
  color: #7b7fb5;
  box-shadow: 0 0 10px #7b7fb5;
}
.s-js{
  background-color: #f7e02520;
  border: 1px solid #f7e025; 
  color: #f7e025;
  box-shadow: 0 0 10px #f7e025;
}
.s-html{
  background-color: #ef592c2b;
  border: 1px solid #ef5b2c; 
  color: #ef5b2c;
  box-shadow: 0 0 10px #ef5b2c;
}
.s-css{
  background-color: #1d81c020;
  border: 1px solid #1d81c0; 
  color: #1d81c0;
  box-shadow: 0 0 10px #1d81c0;
}
.s-mysql{
  background-color: #e6910825;
  border: 1px solid #e69208; 
  color: #e69208;
  box-shadow: 0 0 10px #e69208;
}
.s-oracle{
  background-color: #ff080820;
  border: 1px solid #ff0808; 
  color: #ff0808;
  box-shadow: 0 0 10px #ff0808;
}
.s-ns2{
  background-color: #b1cd0f20;
  border: 1px solid #b1cd0f; 
  color: #b1cd0f;
  box-shadow: 0 0 10px #b1cd0f;
}
.s-dvr{
  background-color: #ffffff17;
  border: 1px solid white; 
  color: white;
  box-shadow: 0 0 10px white;
}
.s-figma{
  background-color: #f3542520;
  border: 1px solid #f35425; 
  color: #f35425;
  box-shadow: 0 0 10px #f35425;
}
.s-canva{
  background-color: #55c7ce20;
  border: 1px solid #55c7ce; 
  color: #55c7ce;
  box-shadow: 0 0 10px #55c7ce;
}
.s-audacity{
  background-color: #ff820a20;
  border: 1px solid #ff820a; 
  color: #ff820a;
  box-shadow: 0 0 10px #ff820a;
}

/* Certificates Section */

.certificates-heading {
  font-size: 55px;
  text-align: center;
  color: white;
  padding-bottom: 20px;
}

.certificates-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap:40px;
  padding: 0 90px;
}

.cert-img {
  height: 400px;
  padding: 10px;
  border: 1px solid rgba(255, 255, 255, 0.439);
  transition: 0.4s ease;
}

.cert-img:hover {
  transform: scale(1.3);
  border: none
}

/* Contact Section */

.contact-heading {
  font-size: 55px;
  text-align: center;
  color: white;
  margin-top: 40px ;
  padding: 20px;
}

.small-desc-new {
  font-size: 18px;
  letter-spacing: 2.5px;
  text-align: center;
}

.contact-content {
  padding: 0 90px;
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
}

.contact-content form {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin: 30px 0;
  border: 1px solid white;
  padding: 27px;
  border-radius: 25px;
  box-shadow: 0 0 10px white;
  background-color: #ffffff1a;
}

.inp-fld {
  padding: 30px 30px;
  border-radius: 50px;
  font-size: large;
  color: var(--primary-col);
  border: 1px solid var(--primary-col);
  background-color: transparent;
  transition: 0.4s ease;
}

.inp-fld:focus {
  outline: none;
  box-shadow: 0 0 30px #ffff00b3;
}

.msg-fld {
  padding: 100px 30px;
  border-radius: 50px;
  font-size: large;
  color: var(--primary-col);
  border: 1px solid var(--primary-col);
  resize: vertical;
  background-color: transparent;
  transition: 0.4s ease;
}

.msg-fld:focus {
  outline: none;
  box-shadow: 0 0 30px #ffff00b3;
}

.btn-submit {
  padding: 15px 30px;
  border-radius: 50px;
  font-size: large;
  color: var(--primary-col);
  font-weight: bold;
  border: 2px solid var(--primary-col);
  background-color: var(--primary-col-faded);
  transition: 0.2s ease;
  box-shadow: 0 0 20px #ffff00b3;
  cursor: pointer;
}



.btn-submit:hover {
  background-color: var(--primary-col);
  color: var(--secondary-col);
}

.btn-submit:active {
  transform: scale(0.9);
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 1px solid white;
  border-radius: 25px;
  box-shadow: 0 0 10px white;
  padding-bottom: 10px;
  background-color: #ffffff1a;
}

.contact-img {
  height: 450px;
  border-radius: 25px 25px 0 0;
}

.cont-1st {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  padding-bottom: 71.5px; 
}

/* Footer */
footer {
  min-height: 300px;
  margin: 0 30px 30px 30px;
  border-radius: 30px;
  border: 1px solid #fff0;
  box-shadow: 0 0 20px black;
  
  background-image: url(images/footer-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
  transition: 0.4s ease;
}

footer:hover {
  border: 1px solid var(--primary-col);
  box-shadow: 0 0 20px #ffff00b3;

}

.footer-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 40px;
}

.footer-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 40px;
  background-color: #0021246a;
  padding: 29px 110px 30px 40px;
  font-size: large;
  border-radius: 30px;
  box-shadow: 0 0 20px #000000cc;
  border: 2px solid #fff0;

  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);

  transition: 0.4s ease;
}

.footer-info:hover {
  border: 2px solid white;
  box-shadow: 0 0 7px white;
}

.footer-links {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  padding: 0 55px;
}

.linktab {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  background-color: #1025273d;
  font-size: larger;
  padding: 30px 155px 30px 40px;
  border-radius: 30px;
  gap: 15px;
  box-shadow: 0 0 10px #00000083;
  border: 2px solid #fff0;

  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);

  transition: 0.4s ease;
}

.linktab:hover {
  border: 2px solid white;
  box-shadow: 0 0 7px white;
}

.linktab a {
  color: white;
  text-decoration: none;
  transition: 0.4s ease;
}

.linktab a:hover {
  color: var(--primary-col);
}

.footer-info a {
  text-decoration: none;
}

.love-icon {
    color: red;
    font-size: xx-large;
}


.social-icon-new {
  color: var(--primary-col);
  text-decoration: none;
  font-size: xx-large;
  padding: 0 7px;
}