@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Playwrite+IS:wght@100..400&display=swap');

:root {
  --secondary-col: #000014;
  --primary-col: yellow;
  --primary-col-faded: #ffff0041;
}

* {
  margin: 0;
  padding: 0;
  font-family: poppins, sans-serif;
}

header {
  background-image: url(images/hero.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 95px;
  padding: 0 50px;
  z-index: 999;
  position: relative;
  
  /* JavaScript is needed for fixed navbar animation 🙂 */
  /*
  width: 100%;
  position:fixed;
  box-sizing: border-box;
  top: 0;

  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.501);
*/
  
}

.nav-bar a {
  text-decoration: none;
}

.logo {
  display: flex;
  align-items: center;
  font-size: x-large;
  font-weight: bolder;
  color: var(--primary-col);
}

.logo-txt {
  padding: 0 10px;
  
}

.navigations {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-links {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  
}

.nav-links .active {
  background-color: var(--primary-col-faded);
  color: var(--primary-col);
  border-radius: 25px;
  padding-top: 4px;
  padding-bottom: 4px;
  border: 1px solid var(--primary-col);
  box-shadow: 0 0 20px #ffff00b3;
  cursor: default;
}

.nav-link:not(.active):hover
{
  color: var(--primary-col);
  background-color: var(--primary-col-faded);
  border-radius: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
  
}

.nav-link {
  text-decoration: none;
  padding: 0 15px;
  margin: 0 7px;
  color: white;
  transition: 0.2s ease;
}

.social-icons {
  padding: 5px 0 0 15px;
}

.social-icon {
  color: var(--primary-col);
  text-decoration: none;
  font-size: xx-large;
  padding: 0 7px;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 68px;
  color: white;
}

.my-img {
  max-width: 200px;
  border-radius: 50%;
  border: 2px solid var(--primary-col);
  box-shadow: 0 0 20px #ffff00b3;
}

.hero-intro {
  display: flex;
  align-items: center;
}

.hero-headings {
  padding-left: 20px;
}

.hero-heading1{
  font-size: 75px;
  line-height: 80px;
}
.hero-heading2{
  font-size: 33px;
}
.hero-heading2 .name-highlight {
  font-size: 53px;
  font-family: "Playwrite IS", cursive;

}

.hero-img {
  max-width: 780px;
z-index: 0;
position: absolute;
bottom: 5%;
right: 5%;

}


.hero-img-disable {
  max-width: 646px;
  opacity: 0;

}

.hero-subheading{
  font-size: 19px;
  margin-top: 30px;
  line-height: 1.6;
  color: #fffad7;
  letter-spacing: 2.5px;
}

.hero-btns {
  margin-top: 50px;
  display: flex;
  align-items: center;
}

.btn1 {
  text-decoration: none;
  color: var(--primary-col);
  font-weight: bold;
  border: 2px solid var(--primary-col);
  background-color: var(--primary-col-faded);
  border-radius: 25px;
  padding: 12px 25px;
  transition: 0.2s ease;
  box-shadow: 0 0 20px #ffff00b3;
}

.btn1:hover {
  background-color: var(--primary-col);
  color: var(--secondary-col);
}

.download-cv{
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--primary-col);
  font-weight: bold;
  box-shadow: 0 0 20px #ffff00b3;
  margin-left: 36px;
  padding: 12px 25px;
  border-radius: 25px;
  transition: 0.2s ease;
}

.download-cv:hover {
  color: var(--secondary-col);
  background-color: var(--primary-col);
}

.cvtxt {
  padding-left: 7px;
}

/* Main */
main {
  background-color: var(--secondary-col);
}
/* About Me Section */

#aboutme {
  min-height: 900px ;
  margin: 0 1px;
  transform: translateY(-10%);
  background-image: url(images/about-bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 55px;
  z-index: 10;
  border: 2px solid var(--primary-col);
  box-shadow: 0 0 20px #ffff00b3;
}

.aboutme-content {
  display: flex;
  justify-content: space-between;
  align-items:center;
  color: white;
  z-index: 4;
  padding-left: 70px;
  padding-right: 70px;
  padding-bottom: 70px;

}

.aboutme-heading {
  padding: 50px 0;
  font-size: 39px;
  text-align: center;
  color: white;
}


.aboutme-img {
  max-width: 320px;
  border: 2px solid var(--primary-col);
  border-radius: 30px;
  box-shadow: 0 0 20px #ffff00b3;
}

.aboutme-right {
  padding-right: 130px ;
}

.aboutme-name {
  font-size: 35px;
}

.aboutme-name .name-highlight {
  font-size: 55px;
  font-family: "Playwrite IS", cursive;
  color: var(--primary-col);
}

.about-desc1 {
  font-size: 28px;
  letter-spacing: 2px;
  text-align: justify;
}

.about-desc2 {
  font-size: 18px;
  letter-spacing: 2.5px;
  text-align: justify;
}

